{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}호주->한국{% endblock title %}

{% block content %}
<div id="list" class="flex flex-col items-center justify-between pt-2 pb-2 mx-2">
  {% for currency in currencies %}
  <div class="w-full md:w-1/2 flex items-start justify-start bg-white border-b border-gray-300 py-3">
    <div class="text-2xl px-2 sm:px-6 text-gray-500">
      {% if currency.name == "Naver" %}
      -
      {% else %}
      {{ forloop.counter0 }}.
      {% endif %}
    </div>
    <div class="w-full flex items-center justify-between">
      <div class="">
        <div class="text-2xl font-medium mb-1">
          <a class="hover:text-blue-700" href="{{ currency.url }}" target="_blank" rel="noopener noreferrer">
            {{ currency.name }}
          </a>
        </div>

        {% if currency.real_rate != currency.rate %}
        <div class="text-gray-500">
          수수료없이:
          <span class="">
            {{ currency.rate }}
          </span>
        </div>
        {% endif %}

        {% if currency.fee != 0 %}
        <div class="text-gray-500">
          수수료:
          <span class="bg-red-100 rounded-lg px-2">
            {{ currency.fee|default_if_none:"?" }}
          </span>
        </div>
        {% endif %}

        {% if currency.note %}
        <div class="bg-yellow-100 rounded-lg px-2 mt-3 text-gray-500">
          * {{ currency.note }}
        </div>
        {% endif %}
      </div>
      <div class="">
        <div class="text-2xl font-medium mr-3 sm:mr-8 font-mono bg-purple-100 rounded-lg px-2 py-1">
          {{ currency.real_rate }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% if last_fetch_time %}
  <div class="text-gray-800 my-4">{{ last_fetch_time|naturaltime }}</div>
  {% endif %}

</div>

{% endblock content %}