{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}호주 역송금 비교{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-2 no-gutters">
  <div class="col-md-6">
    <h4 class="text-center">호주->한국 / <span class="text-muted">${{ BASE_AMOUNT|intcomma }} 기준</span></h4>
    {% if currencies %}
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Company</th>
          <th>Rate with fee</th>
          <th>Rate</th>
          <th>Fee</th>
        </tr>
      <tbody>
        {% for currency in currencies %}
        <tr>
          <td>
            {% if currency.name == "Naver" %}
            -
            {% else %}
            {{ forloop.counter0 }}
            {% endif %}
          </td>
          <td>
            <a href="{{ currency.url }}" target="_blank" rel="noopener noreferrer">{{ currency.name }}</a>
          </td>
          <td>
            <span class="tag tag-green">
              {{ currency.real_rate }}
            </span>
          </td>
          <td class="text-muted">
            <!-- <span class="tag tag-gray"> -->
            {% if currency.real_rate == currency.rate %}
            -
            {% else %}
            {{ currency.rate }}
            {% endif %}
            <!-- </span> -->
          </td>
          <td class="text-secondary">
            {% if currency.fee == 0 %}
            <!-- <span class="tag tag-gray"> -->
            {{ currency.fee|floatformat|default_if_none:"?" }}
            <!-- </span> -->
            {% else %}
            <span class="tag tag-red">
              {{ currency.fee|default_if_none:"?" }}
            </span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </thead>
    </table>
    {% endif %}

    {% if last_fetch_time %}
    <div class="text-center mb-4 text-muted">{{ last_fetch_time|naturaltime }}</div>
    {% endif %}
  </div>

</div>

{% endblock content %}