venv/
.env
*.pyc
db.sqlite3
.vscode/
.DS_Store
.coverage
.pytest_cache/
__pycache__/
*.log
media/
node_modules/
pytest.ini
.idea/
credentials.json
ngrok
token.json
.flake8
staticfiles/
chromedriver
celerybeat-schedule.db
celerybeat.pid
