amqp==5.0.2
appdirs==1.4.4
appnope==0.1.0
arrow==0.17.0
asgiref==3.2.10
attrs==19.3.0
backcall==0.2.0
billiard==3.6.3.0
binaryornot==0.4.4
black==20.8b1
celery==5.0.5
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cloudinary==1.24.0
cookiecutter==1.7.2
crispy-tailwind==0.2.0
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.2
django-allauth==0.42.0
django-celery-beat==2.1.0
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-debug-toolbar==3.1.1
django-environ==0.4.5
django-extensions==3.0.9
django-heroku==0.3.1
django-timezone-field==4.0
djangorestframework==3.12.1
future==0.18.2
gitdb==4.0.5
GitPython==3.1.11
gunicorn==20.0.4
idna==2.9
iniconfig==1.1.1
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
jinja2-time==0.2.0
joblib==1.0.0
kombu==5.0.2
lxml==4.5.1
MarkupSafe==1.1.1
mypy-extensions==0.4.3
nltk==3.5
oauthlib==3.1.0
packaging==20.8
parso==0.7.1
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pluggy==0.13.1
poyo==0.5.0
prompt-toolkit==3.0.7
psycopg2==2.8.6
psycopg2-binary==2.8.6
ptyprocess==0.6.0
py==1.10.0
Pygments==2.7.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.1.1
pytest-django==4.1.0
python-crontab==2.5.1
python-dateutil==2.8.1
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.1
redis==3.5.3
regex==2020.5.14
requests==2.23.0
requests-oauthlib==1.3.0
selenium==3.141.0
sentry-sdk==0.19.1
six==1.15.0
smmap==3.0.4
sqlparse==0.3.1
text-unidecode==1.3
toml==0.10.1
tqdm==4.54.1
traitlets==4.3.3
tweepy==3.9.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
-e git+https://github.com/minho42/typofinder.git@afd126d0e7bb548f5ef197ff399f6e57da01c433#egg=typofinder
urllib3==1.25.9
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
