asgiref==3.2.10
celery==5.0.5
crispy-tailwind==0.2.0
Django
django-allauth==0.42.0
django-celery-beat==2.1.0
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-debug-toolbar==3.1.1
django-environ==0.4.5
django-extensions==3.0.9
django-heroku==0.3.1
djangorestframework
gunicorn==20.0.4
lxml==4.5.1
packaging==20.8
psycopg2==2.8.6
psycopg2-binary==2.8.6
redis==3.5.3
requests==2.23.0
selenium==3.141.0
whitenoise==5.2.0