/* html {
  font-size: 16px;
} */
body {
  /* background-color: #fafbfc; */

  /* font-size: 16px; */
  /* navbar fixed-top */
  /* padding-top: 60px; */
}

.navbar {
  border-bottom: 1px solid #ebebeb;
  /* background-color: #fff; */
  /* box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1); */
}

.navbar-light .active {
  border-bottom: 3px solid #1a73e8;
}
.navbar-dark .active {
  /* border-bottom: 3px solid #ea4c89; */
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.59);
}

.navbar-light .navbar-nav li:hover {
  color: #222;
  /* background-color: #e9f6fd; */
  background-color: #eaeded;
}

.bg-dark {
  /* amazon */
  /* background-color: #232f3e !important; */

  /* github */
  background-color: #24292e !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-collapse ul {
  text-align: center;
}

.navbar-right {
  float: right !important;
}

.dropdown-menu {
  font-size: 14px;
}

.dropdown-item:hover {
  /* color: #fff; */
  /* background-color: #1A73E8; */
  background-color: #eee;
  /* outline: none; */

  /* github blue */
  /* background-color: #0366d6; */
}

a svg:hover #notification {
  fill: #000;
}

tr.clickable {
  cursor: pointer;
}

.red {
  color: #eb4b59;
}

.green {
  color: #42b983;
}

.blue {
  color: #1a73e8;
}

.pink {
  color: #ea4c89;
}

.yellow {
  color: #fbe983;
}

a,
a:hover {
  /* color: #1A73E8; */

  /* github link */
  color: #0366d6;
}

a.toggle {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  color: #333;
  font-weight: bold;
  padding: 6px 12px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

a.toggle:hover {
  background-color: #e6e6e6;
  color: #333;
}

a.toggle2,
a.toggle2:hover {
  background-color: #eb4b59;
  color: #fff;
}

.tiny {
  color: #666;
  font-size: 0.7em;
}

/* bootstrap alert: 
  primary secondary success danger warning info light dark */
.alert {
  margin-bottom: 0rem;
}

/* django messages: debug info success warning error */
.alert- {
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-debug {
  background-color: #cce5ff;
}

.alert-error {
  background-color: #f8d7da;
}

.btn:focus {
  box-shadow: none !important;
}

.btn {
  /* color: #fff; */
  /* padding: 5px 9px; */
  /* text-transform: uppercase; */

  /* btn-lg */
  /* padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5; */

  font-size: 1rem;
  letter-spacing: 0.02em;
}

.btn-primary {
  background-color: #008bf7;
  border-color: #008bf7;
}

.btn-primary:hover {
  background-color: #36a0f2;
  border-color: #36a0f2;
}

.currency-barchart-container {
  /* width: 400px; */
  width: 100%;
  height: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tr-bg {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-transform: uppercase;
}

.black-a-tag {
  color: #212529;
}

.badge-alpha {
  /* vertical-align: top; */
  background-color: #ea4c89;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 12.5rem;
  padding: 0.0625rem 0.4375rem;
}

.text-small {
  font-size: 12px !important;
}

.text-gray {
  color: #586069 !important;
}

.text-bold {
  font-weight: 600 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #24292e;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  font-weight: 600;
}

.nav-tabs .nav-item .nav-link {
  color: #586069;
  font-size: 1em !important;
}
.nav-tabs .nav-item .nav-link:hover {
  background-color: #f6f8fa;
}

.nav-tabs .nav-item .nav-link.active {
  /* background-color: #0366d6; */
  /* color: #fff; */
  color: #24292e;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

/* github */
.nav-link {
  font-weight: 600 !important;
  font-size: 14px !important;
}

.dropdown-divider {
  border-top: 1px solid #586069;
}

.subnav-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.subnav-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.subnav-item.selected {
  z-index: 2;
  color: #fff !important;
  background-color: #0366d6 !important;
  border-color: #0366d6 !important;
}

.subnav-item {
  position: relative;
  float: left;
  padding: 6px 14px;
  font-weight: 600;
  line-height: 20px;
  color: #586069;
  border: 1px solid #e1e4e8;
}
.subnav-item:focus,
.subnav-item:hover {
  text-decoration: none;
  background-color: #f6f8fa;
  color: #586069;
}

.subnav-item + .subnav-item {
  margin-left: -1px;
}

.width-full {
  width: 100% !important;
}

.list-group-item-sm {
  padding: 0.25em 0.75em;
}

/* from dribbble */
hr.divider-or {
  border: none;
  color: #757575;
  text-align: center;
}

hr.divider-or:after {
  content: "Or";
  position: relative;
  top: 0.3em;
  padding: 0 1em;
  background: white;
  text-transform: uppercase;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.card-header {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
}
