{% extends 'base.html' %}
{% load humanize %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-3">
  <div class="col-md-6 text-center">
    <h1>About</h1>
    <p>
      audkrw.com
    </p>
    <p>
      호주->한국 역송금 업체 환율 비교앱
    </p>
    <p>
      수수료: ${{ BASE_AMOUNT|intcomma }} 기준
    </p>

    <div class="contact-links">
      <a href="mailto:minho42@gmail.com" target="_blank" rel="noopener noreferrer">
        <i class="far fa-envelope fa-2x"></i>
      </a>
    </div>

  </div>
</div>

{% endblock content %}