{% extends 'base.html' %}
{% load humanize %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-3">
  <div class="col-md-6 text-center">
    <h1>About</h1>
    <p>
      audkrw.com
    </p>
    <p>
      호주->한국 역송금 업체 환율 비교앱
    </p>
    <p>
      수수료 ${{ BASE_AMOUNT|intcomma }} 기준
    </p>

    <div class="contact-links">
      <a href="mailto:minho42@gmail.com" target="_blank" rel="noopener noreferrer">
        <svg width="2.4rem" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
      </a>
    </div>

  </div>
</div>

{% endblock content %}