{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta content="en" name="language">
  <!-- SEO -->
  <meta class="swiftype" name="title" data-type="string" content="호주 역송금 업체 환율 비교">
  <meta class="swiftype" name="description" data-type="string" content="호주 역송금 업체 환율 비교">
  <meta name="keywords" content="호주 역송금 wiztoss 위즈토스 돈다이렉트 환율 비교 사이트 추천 환전 방법">
  <meta name="robots" content="nofollow">


  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
  {% block stylesheet %}{% endblock stylesheet%}
  <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}">
  <title>호주 역송금 업체 환율 비교: {% block title %}{% endblock title %}</title>
</head>

<body class="bg-gray-100">
  {% include './navbar.html' %}

  <div class="text-gray-800 text-lg">
    {% block content %}
    <!-- <h4><span class="label label-primary">block from base.html</span></h4> -->
    {% endblock content %}
  </div>

  {% block javascript %}{% endblock javascript %}
  <!-- javascript block must come after all the other scripts-->

  <!-- <footer class="site-footer">
    <ul class="site-footer-links">
      <li>audkrw.com</li>
    </ul>
    <ul>
    </ul>
  </footer>
   -->
</body>

</html>